.border{
    border-radius: 10px;
    border: 1px solid black;
    width: 460px;
    height: 330px;
}

.w450{
    width: 450px;
}

.h100 {
    height: 100px;
}

.bg-color{
 background-color: silver;
}

.br-radius {
    border-radius: 10px;
}

.w250{
    width: 250px;
}

.margin-top{
    margin-top: 5px;

}

.margin-bottom{
    margin-bottom: 5px;

}

.margin-sites{
    margin-left: 5px;
    margin-right: 5px;


}


.w77{
    width: 76px;

}

.box{
    display: flex;

}



.box2{
    display: flex;

}


.flex{
    display: flex;

}


.position-ab{
    position:relative;


}

.bottom {
 bottom: 115px;

}





.bottom-220 {
    bottom: 220px;


}

.w185{
    width: 185px;


}

.h210 {
    height: 210px;

}

.left-260{
    left: 260px;

}

